html {
height: 100%;
box-sizing: border-box;
}

body {
	background-color: #ffffff;
      	color: #333333;
	background-position-x: center;
	/*background-image: url("images/asanoha-400px/asanoha-400px.png");*/
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
}

#wrapper {
	width: 1000px;
	margin: auto;
	padding-bottom: 55px;
}

#header {
	text-align: center;
	border-bottom: solid;
	padding-top: 10px;
	border-color: #333333;
	background: #f5f5f5;
}

#header a{
	display: inline-block;
	margin-bottom: 10px;
}


#left {
	width: 49%;
	float: left;
	text-align: center;
}

#right {
	width: 49%;
	float: right;
	text-align: center;
}

#header h1 {
	font-size: 3em;
	display: inline;
	color: #555
}

#header h2 {
	margin: 10px;
}

h3 {
	font-size: 35px;
}

h4{
	padding-left: 10px;
	padding-right: 10px;
}

ul {
	text-align: left;
	/*width: 250px;*/
	margin: auto;
}

li {
	margin-bottom: 4px;
}

#lists {
	padding-top: 5px;
	padding-bottom: 5px;
}

.pane {
	background: rgba(255, 255, 255, 0.4);
	border: 1px solid rgba(200, 200, 200, 0.5);
	padding: 5px;
	margin: 15px;
}

.pane p{
	padding-left: 15px;
	padding-right: 15px;
}

.pane h4 {
	margin-bottom: 0;
	font-size: 20px;
}

#footer {
	border-top: 1px solid #333333;

	display: block;
	padding: 1rem;
	background-color: rgba(255,255,255, 0.8);
	text-align: center;
}

.clearfix {
	clear: both;
}

.left-align {
	text-align: left;
}